<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Write Blog</title>
</head>
<body>
    <%- include("header"); -%>
    <H1>PUBLISH YOUR BLOG</H1>
    <form action="/" method="post">
        <input type="text" name="Head" size="20" placeholder="Heading of Blog" required>
        <br>
        <input class="Blog" type="text" name="NewBlog" size="80" required>
        <button type="submit">Publish</button>
    </form>
    <%- include("footer"); -%>
</body>

</html>