* {
  margin: 0;
  padding: 0;
}
nav{
  margin: 0 auto;
  transition: all 0.4s ease;
}

nav .nav-content{
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo a{
  font-weight: 500;
  font-size: 35px;
  color: #000000;
}
nav.sticky .logo a{
  color: #000000;
}
.nav-content .nav-links{
  display: flex;
}
.nav-content .nav-links li{
  list-style: none;
  margin: 0 8px;
}
 .nav-links li a{
  text-decoration: none;
  color: #092636;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 10px;
  transition: all 0.3s ease;
}
 .nav-links li a:hover{
   color: #ffffff;
 }
 nav.sticky .nav-links li a{
   color: #fff;
   transition: all 0.4s ease;
}
 nav.sticky .nav-links li a:hover{
  color: #0E2431;
}

.item
{
}
.author
{
  font-weight: 100;
  font-size: x-small;
}
.title
{
  font-size: x-large;
  font-weight: bolder;
}
.body
{
  padding-top: 5%;
  padding-bottom: 5%;
}
.BlogHeading
{
  font-family: 'Poppins', sans-serif;;
}